%a{ href: '/', style: 'text-decoration: none' }
  %h1 Heroku Shields
%p
  SVG Heroku status badges using
  %a{:href => 'http://shields.io/'} shields.io
%a{ href: 'https://github.com/chrisjh/heroku-shields', style: 'text-decoration: none' }
  %h3 View on Github
%p Enter your heroku app name
%p.muted (P.S. not the full URL)
%p
  %input.url-input{ type: :text, placeholder: 'Enter your Heroku app name' }
%p
  %a.url-result
%p.markdown
  Copy this markdown:
  .markdown-result